.topnav {
	position: relative;
	background-color: yellow;
	overflow: hidden;
	margin-bottom: 50px;
	padding: 25px;
	text-align: center;
}

topnav a {
	float: left;
	color: red;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
}

topnav a:hover {
	background-color: blue;
	color: black;
}

topnav-centered {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%
}

p {
	border: 3px black;
	position: relative;
	left: 50px;
	background-color: yellow;
	border-collapse: collapse;
	border-color: pink;
	margin-bottom: 15px;
	line-height: 3;
}

h1 {
	color: black;
	font-family: "Times New Roman",Times, serif;
	font-size: 250%; 
	text-align: center;
	border: 5px black;
	outline-style: dotted;
	margin-bottom: 35px;
	height: 100px;
}


h2 {
	color: black;
	font-family: Georgia;
	font-size: 300%;
	text-align: center;
	border-bottom-style: dotted;
	border-bottom-color: green;
	background: pink;
	margin-bottom: 35px;
	height: 100px;
}

ul {
	list-style-type: upper-roman;
	background: lightblue;
	padding: 15px;
	text-align: center;
	line-height: 3;
	border: 3px black;
}

@font-face {
	font-family:geostar;
	src: url(geosstar-regular-webfont.woff);
}

h3 {
	font-family: geostar;
	font-size: 300%;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 35px;
	height: 100px;
	background: orange;
}

.wrapper {
	max-width: 500px;
}

.column img {
	width: 100%;
	border: 8px solid black;
}

